# Created by .ignore support plugin (hsz.mobi)

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Custom Rules
/buildScripts/node_modules/
/buildScripts/npm-debug.log
/buildScripts/configureLocalEnvironment.sh
npm-debug.log
/local/
newVersion.md
RELEASENOTES
